.hud {
  position: relative;
  width: 45vw;
  height: 55vh;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #22252c;
  -webkit-box-shadow: 0px 6px 16px #00000065;
          box-shadow: 0px 6px 16px #00000065;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .hud {
    width: 85vw;
    height: 65vh;
    min-height: 350px;
  }
}

.hud .close {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff0d0d;
  font-size: 145%;
  font-weight: 700;
  color: #ffffffc4;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px #000000b4;
          box-shadow: 0px 0px 15px #000000b4;
  border: none;
  cursor: pointer;
}

.hud .close:hover {
  color: #cc0000;
}
/*# sourceMappingURL=Hud.css.map */