.hud {
  position: relative;

  @media screen and (max-width: 600px) {
    width: 85vw;
    height: 65vh;
    min-height: 350px;
  }

  width: 45vw;
  height: 55vh;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #22252c;
  box-shadow: 0px 6px 16px #00000065;

  display: flex;
  flex-direction: column;

  .close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0d0d;

    font-size: 145%;
    font-weight: 700;
    color: #ffffffc4;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #000000b4;
    border: none;
    cursor: pointer;

    &:hover {
      color: #cc0000;
    }
  }
}
