@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.App {
  min-height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.install {
  position: absolute;
  top: 0;
  margin-top: 2vh;
  margin-right: 2vh;
  right: 0;
  width: 13rem;
  height: 4rem;
  border: none;
  border-radius: 0.7rem;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  text-indent: 0.5rem;
  letter-spacing: 0.4rem;
  background-color: #22252c;
  z-index: 3;
}

.install:hover {
  color: #97f657;
  background-color: #22252ca9;
}

article {
  z-index: 0;
}

.time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Anton', sans-serif;
}

.time img {
  width: 60%;
}

.time span {
  position: absolute;
  margin-top: 3%;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #fff;
  text-shadow: 2px 2px rgba(71, 71, 71, 0.719);
}

.timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timing .time-name {
  width: 50%;
  font-size: 32px;
  color: #78c13d;
  text-align: center;
}

.timing .break-name {
  width: 50%;
  color: #e9402e;
  font-size: 32px;
  text-align: center;
}

.timing .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timing .break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timing .minutes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timing .minutes input {
  width: 5rem;
  margin: 0.4rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff59;
  font-size: 38px;
  text-align: center;
  border-radius: 0.7rem;
  border: none;
  background-color: transparent;
}

.timing .split {
  display: inline;
  min-height: 50%;
}

.timing span {
  color: #ffffff59;
  font-size: 34px;
}

.timing svg {
  color: #18181883;
  font-size: 36px;
}

.timing svg:hover {
  color: #09090a;
}

.timing label {
  display: block;
  color: transparent;
  font-size: 0.1px;
}

.controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.controlls div {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controlls button {
  border: none;
  background-color: transparent;
}

.controlls svg {
  text-align: center;
  font-size: 34px;
}

.controlls svg:hover {
  color: #22252c;
}

.settings-holder {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  height: 5rem;
  left: 0;
  top: 0;
  z-index: 2;
}

.settings-holder button {
  margin-left: 4vh;
  margin-top: 4vh;
  border: none;
  background-color: transparent;
}

.settings-holder svg {
  font-size: 34px;
}

.settings-holder svg:hover {
  color: #22252c;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */