@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.install {
  position: absolute;
  top: 0;
  margin-top: 2vh;
  margin-right: 2vh;
  right: 0;
  width: 13rem;
  height: 4rem;
  border: none;
  border-radius: 0.7rem;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  text-indent: 0.5rem;
  letter-spacing: 0.4rem;
  background-color: #22252c;
  z-index: 3;
}

.install:hover {
  color: #97f657;
  background-color: #22252ca9;
}

article {
  z-index: 0;
}

.time {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;

  img {
    width: 60%;
  }
}

.time span {
  position: absolute;
  margin-top: 3%;
  font-size: 46px;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #fff;
  text-shadow: 2px 2px rgba(71, 71, 71, 0.719);
}

.timing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .time-name {
    width: 50%;
    font-size: 32px;
    color: #78c13d;
    text-align: center;
  }

  .break-name {
    width: 50%;
    color: #e9402e;
    font-size: 32px;
    text-align: center;
  }

  .work {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .break {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .minutes {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 5rem;
      margin: 0.4rem;
      margin-top: 0;
      margin-bottom: 0;
      color: #ffffff59;
      font-size: 38px;
      text-align: center;
      border-radius: 0.7rem;
      border: none;
      background-color: transparent;
    }
  }

  .split {
    display: inline;
    min-height: 50%;
  }

  span {
    color: #ffffff59;
    font-size: 34px;
  }

  svg {
    color: #18181883;
    font-size: 36px;
  }

  svg:hover {
    color: #09090a;
  }

  label {
    display: block;
    color: transparent;
    font-size: 0.1px;
  }
}

.controlls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;

  div {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  button {
    border: none;
    background-color: transparent;
  }

  svg {
    text-align: center;
    font-size: 34px;
  }

  svg:hover {
    color: #22252c;
  }
}

.settings-holder {
  position: absolute;
  display: flex;
  align-items: flex-start;
  width: 45%;
  height: 5rem;
  left: 0;
  top: 0;
  z-index: 2;

  button {
    margin-left: 4vh;
    margin-top: 4vh;
    border: none;
    background-color: transparent;
  }

  svg {
    font-size: 34px;
  }

  svg:hover {
    color: #22252c;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
