.settings {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    width: 100%;
    padding-bottom: 0.3rem;
    color: whitesmoke;
    font-size: 210%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #00000094;
  }

  table {
    width: 60%;
    margin-bottom: 2rem;

    @media screen and (max-width: 600px) {
      width: 80%;
    }

    tr {
      height: 5vh;
    }

    th {
      color: #78c13d;
      text-align: left;
      font-size: 135%;
    }

    td {
      text-align: center;

      button {
        cursor: pointer;
        border: none;
        font-size: 185%;
        background-color: transparent;
      }
    }
  }

  a {
    color: whitesmoke;
    cursor: pointer;
    font-size: 120%;
    text-decoration: none;
    box-shadow: 0px 0px 15px #000000b4;

    &:active,
    &:visited {
      text-decoration: none;
    }

    span {
      padding: 0.2rem;
    }

    span:first-of-type {
      padding-left: 0.5rem;
      border-radius: 5px 0 0 5px;
      background-color: #22252c;
    }

    span:last-of-type {
      padding-right: 0.5rem;
      border-radius: 0 5px 5px 0;
      background-color: #f06d31;
    }
  }
}
